<%- include("partials/opening") %>

<%- include("partials/head") %>

<body>
    <%- include("partials/navbar") %>
    <h2>All cats are:</h2>
    <ul>
        <% for(let cat of cats) { %> <!--this is example of looping in EJS -->
            <li><%= cat %></li>
        <% } %>
    </ul>
</body>   
 
<%- include("partials/closing") %>    