<%- include("partials/opening") %>
    
<%- include("partials/head") %>

<body>
    <%- include("partials/navbar") %>
    <h1>We couldn't find <i><%= subreddit %></i> subreddit</h1>
</body>

<%- include("partials/closing") %>